build/
build_*/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock
.vscode/
__pycache__/

# author's private stuff
/20*.txt
/private*
/opensource
/schematics
/.cache
/app_osyntho/20*.txt

build_host/
build_regress_p4/
/app_osyntho/build_embedded/
build_android64/
build_android32/

# Windows static-Qt builds drop osyntho.exe here (app_osyntho/CMakeLists.txt).
/current/
